
.box-table-a {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    margin: 20px;
}

.hor-minimalist-b {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 480px;
    border-collapse: collapse;
    text-align: right;
    margin: 20px;
    border-spacing: 0;
    padding: 0;
    outline: 0;
    border: 0;
    line-height: 1.55;
    font-style: normal;
    font-weight: 400;
    

    
}

